/* plug.dj themescript made for Anoniminiai Alkoholikai [DEV: Delights] V1.0.1

   --- Information ---
   
   This is an affiliated themescript and hosted theme.
   If you would like to see more details and information
   about our development please see our repository:
   https://github.com/themescript/themescript.github.io

   Coded using universal properties exclusively.
   Non-CSS3 browsers will encounter compatibility issues.
   
   Version 4 (07/14/15)

   --- Credits and contact ---

   Primary style developer:
   HEEBEEJEEBEES; bluufoxx[at]gmail[dot]com; Delights

   All other members of the Anoniminiai Alkoholikai community who provided useful input on style development

   You. Yes, you! Keep on chillin' !

   Additional icons modified without permission are property of plug.dj and plugcubed art / development teams.

*/

/* Theme components */
  /* > Additional styles for plugins are handled by plugins.css */
@import url("https://raw.githubusercontent.com/eimantuks7/cssloading/master/cssloading");
@import url("https://raw.githubusercontent.com/eimantuks7/cssbadges/master/cssbadges");
@import url("https://raw.githubusercontent.com/eimantuks7/cssuserlogos/master/usrlogoscss");
@import url("https://themescript.github.io/settings/settings.css");
@import url("https://themescript.github.io/plugins/plugins.css");
@import url("https://themescript.github.io/settings/roominfo.css");

/* Animations */
  /* > Defined animations here can be used with the animation declaration.
       To keep things tidy, all additional animations defined above should
       be under the "Opacity and effecrs" section below.
     > Only define a new animation when a transition effect doesn't work, or
       when it is easier than per-class transitions.
  */
@keyframes fadein{
  from{
    opacity: 0;
}
  to{
    opacity: 1;
}

}

/* Opacity and effects */
  /* > Not including background colour opacity; Declarations for semi-opaque
       background and text colours should be under their respective colour, or
       given a new heading for each additional colour.
     > scattered and uncategorizable declarations should also reside here
       to keep things tidy.
  */
#room-bar:hover > #room-name,
#room-bar > #room-host,
#room-bar:hover .icon-room:before,
#room-bar .icon-room:after,
#playback:not(:hover) > #playback-controls,
.user-content .avatars .grid .cell:not(.selected) .top:after,
.user-content .badges .grid .cell:not(:hover) .top:after,
.user-content .misc .grid .cell:not(:hover) .top:after,
#users-button.has-guests .guest-count,
#users-button.has-guests:hover .bar-count,
#footer-user .info:not(.showing){
  opacity: 0 !important;
  transition: opacity 0.2s !Important;
}
.user-content .avatars .grid .cell .top:before{
  opacity: 0.75 !Important;
  transition: opacity 0.2s !important;
}
#room-bar > #room-name,
#room-bar:hover > #room-host,
#room-bar .icon-room:before,
#room-bar:hover .icon-room:after,
#playback:hover > #playback-controls,
.user-content .avatars .grid .cell:hover .top:before,
.user-content .avatars .grid .cell.selected .top:after,
.user-content .badges .grid .cell:hover .top:after,
.user-content .misc .grid .cell:hover .top:after,
#users-button.has-guests .bar-count,
#users-button.has-guests:hover .guest-count,
#footer-user .info.showing{
  opacity: 1 !Important;
  transition: opacity 0.2s !Important;
}
#room-bar > #room-name,
#room-bar:hover > #room-host,
#room-bar .icon-room:before,
#room-bar:hover .icon-room:after,
#users-button.has-guests .bar-count
{
  transition-delay: 0.2s !Important;
}
  /* Enhanced delay for guest counter */
#users-button.has-guests:hover .bar-count{
  transition-delay: 0.5s !important;
}
#users-button.has-guests:hover .guest-count{
  transition-delay: 0.7s !Important;
}
.tab-menu:hover,
.tab-menu:not(:hover),
.tab-menu .selected,
.tab-menu :not(.selected),
button:hover,
button:not(:hover),
#user-settings a > div:hover,
#user-settings a > div:not(:hover)
#footer-user .button{
  transition: background-color 0.2s !Important;
}
#user-settings button:hover,
#user-settings button:not(:hover){
  transition: 0.2s !Important;
}
  /* Fading elapsing timer */
#now-playing-time .elapsing{
  opacity: 0.0 !Important;
  transition: opacity 5.0s !Important;
} /* Voting: selected */
#vote .icon:not(.icon-skip),
#vote .bottom {
  transition: background-color 0.3s ease-in 0s,
              box-shadow 0.2s ease-in 0s;
}
  /* Icons */
    /* App and user menus */
#app-menu .item:not(:hover){
  opacity: 0.7 !Important;
}
    /* Socmed */
#facebook-menu .icon.icon-facebook-selected,
#twitter-menu .icon.icon-twitter-selected,
.shop-button .icon.icon-store-white{
  opacity: 0.30 !Important;
}     /* Hover opacity */
#facebook-menu:hover .icon.icon-facebook-selected,
#twitter-menu:hover .icon.icon-twitter-selected,
.shop-button:hover .icon.icon-store-white,
  /* Chat disconnect */
#chat .disconnect{
  opacity: 1 !Important;
}
  /* Fade-in chat messages */
#chat-messages .cm{
  animation: fadein 0.2s;
}
  /* Fading user info prereq */
#footer-user .info{
  display: block !Important;
  pointer-events: none !important;
}

/* Colours */
  /* > For background colour and text. Anything meant to be 0% opaque
       should instead be shoved into the bottom of the document under
       the "Disappear" section.
  */
  /* colour 161f31 */
#vote .crowd-response:hover:not(.disabled) .icon:not(.icon-skip),
#vote .crowd-response:hover:not(.disabled) .bottom {
  background-color: rgb(22, 31, 49) !important;
}
  /* colour 1e2942 */
#dashboard,
#toast-notifications .right,
#app .app-header,
#app-menu *,
#dialog-container .dialog-frame,
#dialog-container .dialog-body,
#dialog-container .destructive.no-submit .button.submit,
#dialog-container .dialog.no-submit .submit,
#dialog-container .selected .radio,
#p3-settings,
#p3-settings-custom-colors,
#header-panel-bar.level-1 > #chat-button,
.app-right .jspContainer,
#chat-suggestion,
#user-lists .list-header,
#user-rollover,
#user-menu,
#user-view,
#media-panel .row:hover,
#user-history .row:hover,
#room-settings-menu,
#room-settings,
#vote > .crowd-response .bottom,
#vote .crowd-response .icon,
#footer,
#playlist-panel,
#search,
.pop-menu,
#video-only-dj,
#chat{
  background-color: rgb(30, 41, 66) !important;
}   /* Semi-opaque */
#chat .disconnect,
#history-panel .row{
  background-color: rgba(30, 41, 66, 0.92) !Important;  
}
#playback-controls .button.hd,
#playback-controls .button.p3-fullscreen{
  background-color: rgba(30, 41, 66, 0.7) !Important;
}
.row .actions,
#user-store .cell .expires{
  background-color: rgba(30, 41, 66, 0.5) !Important;
}   /* text colour */
#playlist-activate-button:hover:not(.active) span{
  color: rgb(30, 41, 66) !important;
}
  /* colour 323c53 */
#dashboard .bar,
#dashboard .cell,
#dashboard .search,
#history-button,
#dialog-container .toggle,
#dialog-container .radio,
#dialog-container .dialog-input-background,
#dialog-user-role .role-menu,
#dialog-user-role .role-menu li,
#dialog-container .button,
#dialog-media-update .dialog-input-background,
#dialog-media-update .swap,
#dialog-purchase .username-box input,
.general-settings .input-background,
.general-settings .option button,
#user-view.app-left .subscribe-button,
#the-user-profile .experience .levels .level,
#the-user-profile .blurb input,
#the-user-profile .notifications .row,
#user-friends .row,
#user-friends .search,
#user-inventory .row,
#user-inventory .badges .cell,
#user-store .grid .cell,
#user-store .grid .title-bar,
#chat-messages .user-action .msg,
#chat-messages .moderation .msg,
#user-communities .bar,
#user-communities .cell,
#user-settings .account .right button,
#search-bar,
#search-suggestion,
#search-menu li,
#search-suggestion li,
#filter-bar,
.app-right .input-background,
#user-lists .group,
.delete-button,
#dj-button.is-locked .left,
#dj-button.is-full .left,
#import-youtube .youtube-input,
#chat-input,
.dropdown,
.dropdown dd{
  background-color: rgb(50, 60, 83) !Important;
}   /* Semi-opaque */
#dashboard .meta,
#user-communities .meta{
  background-color: rgba(50, 60, 83, 0.92) !important;
}
  /* colour 1d456e */
#dashboard-border .button,
#toast-notifications .left,
#footer-user .signup,
#user-settings .bar,
#tooltip.purple span,
#dialog-container .toggle:hover,
#footer-user .back,
#media-panel .button:not(.active),
#playlist-menu > div.button,
#user-rollover .info:not(.extplug-blurb-wrap),
.thumb,
#user-rollover .action:hover,
#user-friends .row button,
#dashboard .join:hover,
#user-communities .join:hover,
#user-communities .create,
.xp .bar,
#footer-user .info,
#footer-user .button:hover,
#chat-header,
#user-lists .header,
#waitlist .header,
.friends .header,
.friends .list-header,
#footer .bar,
.tab-menu button,
.jspHorizontalBar,
.jspTrack,
.jspVerticalBar,
    /* Bot highlights */
#chat-messages [data-cid^="3605383"].cm,
#chat-messages [data-cid^="3475278"].cm{
  background-color: rgb(29, 69, 110) !Important;
}   /* Text colour */
#user-lists .duration,
#dialog-container .destructive.no-submit .button.submit,
#dialog-container .dialog.no-submit .submit{
  color: rgb(29, 69, 110) !Important;
}
  /* colour 365f80 */
#dialog-restricted-media .row:hover,
#app-menu .icon:after,
#user-view .item .count,
.request-count,
.tab-menu .count,
#footer .button .count,
#user-view.app-left .subscribe-button:hover,
#user-history .row:hover,
#media-panel .row.selected,
.pop-menu li:hover,
#search-suggestion .search-suggestion-item.selected,
#search-menu li:hover{
  background-color: rgb(54, 95, 128) !important;
}   /* Semi-opaque */
#history-panel .row.selected{
  background-color: rgba(54, 95, 128, 0.92) !important;
}   /* Semi-opaque */
.row.selected .actions{
  background-color: rgba(54, 95, 128, 0.5) !important;
}   /* Text colour */
#p3-settings .version,
.friends .is-offline span,
.joined{
  color: rgb(54, 95, 128) !Important;
}
  /* colour 4a6c8f */
#vote > #woot.crowd-response.selected .bottom,
#vote > #woot.active .icon,
#vote > #woot.disabled.active .bottom,
.tab-menu button:not(.selected):hover{
  background-color: rgb(74, 108, 143) !important;
}   /* Text colour */
div .user,
.item.positive span{
  color: rgb(74, 108, 143) !Important;
}     /* Non-important text colour */
#chat .from .un{
  color: rgb(74, 108, 143);
}
  /* colour 5c87b3 */
#dashboard-border .button:hover,
#dashboard .favorite,
.tab-menu .selected,
#dialog-container > :not(#dialog-preview):not(#dialog-confirm):not(.destructive):not(.no-submit) .submit,
#the-user-profile .experience .levels .level.earned.avatar .label,
#the-user-profile .experience .levels .level.earned.pp .label,
#user-friends button.positive:hover,
:not(.boosted) .bar .progress,
#room-settings .general-settings :not(.enabled) button.off,
#playlist-button,
#playlist-menu > div.button:hover,
.drag-media-box,
#media-panel .button:not(.active):hover,
#media-panel .row.now-playing,
#dj-button.is-wait .left,
#dj-button.is-join .left,
#vote > #grab.crowd-response.selected .bottom,
#vote > #grab.active .icon,
#vote > #grab.disabled.active .bottom,
#tooltip:not(.purple):not(.orange) span,
.jspDrag,
.jspDrag:hover,
.jspTrack .jspActive,
.jspTrack .jspHover,
.dropdown div:hover,
#user-inventory > DIV:last-child > DIV:first-child > DL DIV:hover{
  background-color: rgb(92, 135, 179) !Important;
}   /* Semi-opaque */
#playback-controls .button.refresh{
  background-color: rgba(92, 135, 179, 0.7) !Important;
}   /* Semi-opaque */
#media-panel .row.now-playing .actions{
  background-color: rgba(92, 135, 179, 0.5) !important;
}   /* Text colour */
#media-panel .playlists a,
#dialog-level-up .reward,
div .user .is-you .name,
div .user.is-you span,
#user-lists .label,
#user-lists .moderator,
.item.grabs span,
.friends .room,
#user-friends .total,
#playlist-activate-button span,
#waitlist-button .count,
#waitlist .count,
#waitlist .user .position,
#waitlist .position .count,
#user-rollover .online .status span,
#chat .welcome,
#chat .moderation,
#footer-user :not(.is-ambassador):not(.is-admin) .name{
  color: rgb(92, 135, 179) !Important;
}     /* Non-important text colour */
#chat .from.you:not(.has-sub) .un{
  color: rgb(92, 135, 179);
}
  /* colour B4C9DE */
#dialog-purchase .divider,
#volume .line{
  background-color: rgb(180, 201, 222) !Important;
}
    /* Text colour */
#news .desc,
#dialog-purchase:not(.no-submit) .button.submit,
#dialog-purchase .unlock-type span,
#dialog-purchase .value,
#dialog-level-up .title,
#dialog-user-role.is-staff .name,
#dialog-restricted-media .row:hover,
#app-menu .item span,
#app-menu .logout span,
#p3-settings .item span,
#p3-settings-custom-colors .item span,
#users-button.has-guests .guest-count,
#header-panel-bar.level-1 > #chat-button span,
#room-host,
div .user .is-staff .name,
div .user.is-staff span,
#user-lists .list.staff .user:not(:hover) span,
#now-playing-dj,
#volume span,
.dark-label:not(small),
#dj-button small,
.tab-menu button,
#room-settings .title,
.timestamp,
#footer-user .back,
#user-view.app-left .header span,
#user-view.app-left .points *:not(button),
#the-user-profile .role span,
#the-user-profile .link .label,
#the-user-profile .next-level,
#the-user-profile .notifications .timestamp,
#user-inventory > DIV:last-child > DIV:first-child > DIV:first-child > SPAN,
#user-inventory > DIV:last-child > DIV:first-child > DIV:last-child > DIV:first-child > SPAN,
#user-inventory > DIV:last-child > DIV:first-child > DIV:last-child > DIV:nth-child(2) > SPAN,
#user-inventory > DIV:last-child > DIV:first-child > DIV:last-child > DIV:last-child > SPAN,
#user-friends .level *,
#user-settings .application *,
#user-settings .account label,
#user-settings .account .refresh,
#playlist-menu .count,
#playlist-menu .row.drag-over span,
#media-panel .header > :not(.button),
#media-panel .row:hover,
#media-panel .row:hover a,
#media-panel .row.selected,
#user-history .row:hover .meta span,
#history-panel .row:hover .name:before,
#history-panel .row.selected .name:before,
#history-panel .row:hover .meta span,
#history-panel .row.selected .meta span,
.pop-menu li:hover,
#media-panel .now-playing,
.friends .header,
.friends .row:not(.is-ambassador):not(.is-admin) .name,
.mention:not(.is-subscriber) .name,
#your-active-playlist span,
#footer-user .is-staff:not(.is-ambassador):not(.is-admin) .name,
#footer :not(.bar) > .value,
#footer .level *,
.user-action .text,
.moderation,
#user-rollover .level span,
#user-rollover.is-staff .role span,
#playlist-menu .title,
.dropdown .level,
    /* Bot links */
#chat-messages [data-cid^="29698377"] A,
#chat-messages [data-cid^="29698377"] A{
	color: rgb(180, 201, 222) !important;
}     /* Non-important text colour */
#chat .from.dj .un,
#chat .from.staff .un,
#dialog-container .button.submit,
#now-playing-time span{
  color: rgb(180, 201, 222);
} /* Opacity settings */
#app-menu .item:not(:hover) span,
#p3-settings .item:not(.selected):not(:hover):not(.p3-s-colors) span,
#user-settings .application .item:not(.selected) span:not(:hover),
#user-settings .application .cap span:not(.count){
  opacity: 0.75 !Important;
}
  /* colour ff2d31 */
#app-menu .logout:hover,
#app-menu .logout:hover *,
#dialog-container .destructive:not(.no-submit) .button.submit,
#dialog-container .toggle.selected,
#dialog-container .reason.selected,
#dialog-confirm .button.submit,
#user-store .notice,
#volume .circle[style="left: 7.5px;"],
#room-settings .general-settings .enabled button.on,
#user-friends button.negative:hover,
#user-settings .account .right button:hover,
.delete-button:hover,
#dj-button.is-leave .left,
#dj-button.is-quit .left,
#vote > #meh.crowd-response.selected .bottom,
#vote > #meh.active .icon,
#vote > #meh.disabled.active .bottom,
#tooltip.orange span{
  background-color: rgb(255, 45, 49) !important;
}   /* Semi-opaque */
#playback-controls .button.snooze{
  background-color: rgba(255, 45, 49, 0.7) !Important;
}   /* Text colour */
#dialog-container .destructive .username,
#dialog-purchase .price .value,
#dialog-playlist-delete .message,
#dialog-restricted-media .media-name,
#user-lists .list:not(.room):not(.staff) .user:not(:hover) span.name,
#user-store .cell .expires span,
.item.negative span,
#now-playing-time .elapsing,
.in-history{
  color: rgb(255, 45, 49) !Important;
}
  /* Other colours */
    /* colour 000 */
#playback-container{
  background: rgb(0, 0, 0) !Important;
}
    /* colour 2fc7fb */
#chat-messages .cm.system{
  background-color: rgb(29, 121, 153) !Important;
}
    /* Other text colours */
      /* colour eeeeee */
#news span,
#dialog-purchase .label,
#history-panel .name:before,
div .user:hover span:not(.unignore):not(.unmute):not(.unban):not(.timestamp),
div .user:hover .name span,
.dropdown :not(.level){
  color: rgb(238, 238, 238) !important;
}     /* colour fff */
#app-menu .logout:hover span,
#dialog-confirm .submit,
#dialog-container .destructive:not(.no-submit) .button.submit,
#user-settings .account .right button:hover,
#chat-messages .cm.system *,
    /* Bot text */
#chat-messages [data-cid^="29698377"] .un,
#chat-messages [data-cid^="29698377"] .un{
  color: rgb(255, 255, 255) !Important;
}

/* Text settings */
  /* Formatting */
#room-bar *,
#now-playing-bar *{
  font-weight: lighter !Important;
}
.friends .header{
  font-style: italic !Important;
}
  /* Sizing */
    /* DJ history */
#history-panel .name,
#history-panel .timestamp,
#user-history .name,
#user-history .timestamp{
	font-size: 17px !Important;
}
    /* Header */
#room-bar span{
  font-size: 20px !Important;
}
#now-playing-time span,
#volume span{
  font-size: 18px !Important;
}
    /* Footer */
#your-active-playlist{
  font-size: 12px !Important;
}     /* Guest stuff */
#users-button.has-guests .guest-count{
  font-size: 18px !Important;
}
/* Images */
  /* Icons from default spriteset */
#news .icon.icon-news-grey{
  background-position: -69px -245px !important;
}
  /* Icons from CM spriteset */
    /* Main icon set */
#dialog-container .icon.icon-check-white,
#dialog-level-up .sunburst,
#dialog-level-up .pp,
#app-menu .list i:not(.icon-logout-white),
#dashboard .icon.icon-grab,
#user-menu .item:not(.selected) .icon,
.friends.has-requests > .header > I,
.icon.icon-check-blue,
.icon.icon-clock-orange,
#volume i,
.icon.icon-ignore,
.icon.icon-ignored,
.icon.icon-staff,
.icon.icon-mute,
.icon.icon-mute-big,
.icon.icon-ban,
.icon.icon-staff,
#facebook-menu .icon.icon-facebook-selected,
#twitter-menu .icon.icon-twitter-selected,
#vote .crowd-response .icon,
.icon.icon-grab,
:not(.badge-box) > .icon.icon-star-white,
#chat-messages .cm.moderation:not(.user-action) > .badge-box > .icon.icon-skip,
#user-lists .icon.icon-woot,
.icon.icon-history-positive,
#user-lists .icon.icon-grab,
.icon.icon-history-grabs,
#user-lists .icon.icon-meh,
#chat-button i,
#users-button i,
#waitlist-button i,
#friends-button i,
#chat-sound-button i,
#chat-emoji-button i,
#chat-timestamp-button i,
.icon.icon-mention-off,
.p3-s-stream,
.p3-s-stream.selected,
.p3-s-clear,
#chat-popout-button i,
.icon.icon-history-negative,
.icon.icon-chat-host,
.icon.icon-chat-cohost,
.icon.icon-chat-manager,
.icon.icon-chat-bouncer,
.icon.icon-chat-dj,
.icon.icon-check-purple,
.icon.icon-check-circle,
.icon.icon-next-track,
      /* General badges */
.cm:not(.extplug-notification) .badge-box.no-badge,
#user-rollover .badge-box.no-badge,
#room-bar .icon-room:before,
    /* Bot staff icons and emoji */
#chat-messages [data-cid^="3605383"] .icon.icon-chat-manager,
#chat-messages [data-cid^="3475278"] .icon.icon-chat-bouncer,/*
#chat-messages [data-cid^="3475278"] .emoji-inner[style="background-position:0% 14.705882352941178%;background-size:3500%"],               These icons do
#chat-messages [data-cid^="3475278"] .emoji-inner[style="background-position:61.76470588235294% 44.117647058823536%;background-size:3500%"], not exist yet. */
#chat-messages [data-cid^="3605383"] .emoji-inner[style="background-position:41.1764705882353% 50%;background-size:3500%"],
#chat-messages [data-cid^="3605383"] .emoji-inner[style="background-position:8.823529411764707% 76.47058823529412%;background-size:3500%"],
#chat-messages [data-cid^="3605383"] .emoji-inner[style="background-position:41.1764705882353% 67.64705882352942%;background-size:3500%"],
#chat-messages [data-cid^="3605383"] .emoji-inner[style="background-position:26.47058823529412% 67.64705882352942%;background-size:3500%"],
#chat-messages [data-cid^="3605383"] .emoji-inner[style="background-position:26.47058823529412% 26.47058823529412%;background-size:3500%"],
#chat-messages [data-cid^="3475278"] .emoji-inner[style="background-position:26.47058823529412% 26.47058823529412%;background-size:3500%"],
#chat-messages [data-cid^="3605383"] .emoji-inner[style="background-position:67.64705882352942% 23.529411764705884%;background-size:3500%"],
#chat-messages [data-cid^="3475278"] .emoji-inner[style="background-position:67.64705882352942% 23.529411764705884%;background-size:3500%"],
#chat-messages [data-cid^="3605383"] .emoji-inner[style="background-position:0% 73.52941176470588%;background-size:3500%"],
#chat-messages [data-cid^="3475278"] .emoji-inner[style="background-position:0% 73.52941176470588%;background-size:3500%"],
#chat-messages [data-cid^="3605383"] .emoji-inner[style="background-position:11.764705882352942% 23.529411764705884%;background-size:3500%"],
#chat-messages [data-cid^="3475278"] .emoji-inner[style="background-position:11.764705882352942% 23.529411764705884%;background-size:3500%"],
#chat-messages [data-cid^="3605383"] .bdg{
  background-image: url(https://themescript.github.io/images/cmix_icons.png) !important;
  background-size: 270px 480px !Important;
}
    /* Icon positioning */
      /* Has friend requests */
.friends.has-requests > .header > I{
  background-position: -90px -90px !important;
}
      /* Dialog: Level up */
#dialog-level-up .sunburst{
  background-position: 0px -240px !Important;
}
#dialog-level-up .pp{
  background-position: -180px 0px !Important;
}     /* App and user menus */
#app-menu .community i,
#user-menu .icon-community-grey{
  background-position: 0px -150px !Important;
}
#app-menu .events i{
  background-position: -30px -150px !Important;
}
#app-menu .support i{
  background-position: -60px -150px !Important;
}
#app-menu .blog i{
  background-position: -90px -150px !Important;
}
#app-menu .about i{
  background-position: -120px -150px !Important;
}
#app-menu .logout .icon-logout-grey{
  background-position: -150px -150px !Important;
}
#user-menu .icon-user-grey{
  background-position: -180px -150px !Important;
}
#user-menu .icon-inventory-grey{
  background-position: -210px -150px !Important;
}
#user-menu .icon-store-grey{
  background-position: -240px -150px !Important;
}
#user-menu .icon-users-grey{
  background-position: 0px -180px !Important;
}
#user-menu .icon-history-grey{
  background-position: -30px -180px !Important;
}
#user-menu .icon-settings-grey{
  background-position: -60px -180px !Important;
}
      /* Header menu buttons */
#chat-button i{
  background-position: -90px -180px !Important;
}
#users-button i{
  background-position: -120px -180px !Important;
}
#waitlist-button i{
  background-position: -150px -180px !Important;
}
#friends-button i{
  background-position: 0px -180px !Important;
}       /* Chat header buttons */
.icon-chat-sound-on{
  background-position: -180px -180px !Important;
}
.icon-chat-sound-off{
  background-position: -150px -60px !Important;
}
.icon.icon-emoji-on{
  background-position: -210px -180px !Important;
}
.icon.icon-emoji-off{
  background-position: -240px -180px !Important;
}
.icon.icon-timestamps-12{
  background-position: 0px -210px !Important;
}
.icon.icon-timestamps-24{
  background-position: -30px -210px !Important;
}
.icon.icon-timestamps-off{
  background-position: -60px -210px !Important;
}
.icon.icon-mention-off{
  background-position: -90px -210px !Important;
}
.p3-s-stream{
  background-position: -120px -210px !Important;
}
.p3-s-stream.selected{
  background-position: -150px -210px !Important;
}
.p3-s-clear{
  background-position: -180px -210px !Important;
}
#chat-popout-button i{
  background-position: -210px -210px !Important;
}
      /* Moderation / People */
.icon.icon-ignore{
  background-position: 0px -120px !Important;
}
.icon.icon-ignored{
  background-position: -30px -120px !Important
}
.icon.icon-staff{
  background-position: -150px -120px !Important;
}
.icon.icon-mute{
  background-position: -120px -120px !Important;
}
.icon.icon-mute-big{
  background-position: -90px -120px !Important;
}
.icon.icon-ban{
  background-position: -60px -120px !Important;
}
.icon.icon-clock-orange{
  background-position: -150px -90px !Important;
}
      /* Volume states */
#volume .icon{
  background-position: -150px 0px !Important;
}
#volume .icon.icon-volume-off{
  background-position: -150px -60px !Important;
}
#volume .icon.icon-volume-off-once{
  background-position: -150px -30px !Important;
}
      /* Socmed */
        /* Default */
#facebook-menu .icon.icon-facebook-selected{
  background-position: 0px 0px !Important;
}
#twitter-menu .icon.icon-twitter-selected{
  background-position: 0px -30px !important;
}       /* Hover */
#facebook-menu:hover .icon.icon-facebook-selected{
  background-position: -30px 0px !important;
}
#twitter-menu:hover .icon.icon-twitter-selected{
  background-position: -30px -30px !important;
}     /* Currency and buff icons */
        /* Boosts */
.icon.icon-boost-2x{
  background-position: -325px -296px !Important;
}
.icon.icon-boost-3x{
  background-position: -325px -346px !Important;
}       /* Tokens */
          /* Medium */
#the-user-profile .icon.icon-badge-pp{
  background-position: -325px -196px !Important;
}         /* Small */
.icon.icon-pp-small{
  background-position: -315px -166px !Important;
}
      /* Bot staff icons */
        /* AnonAlk Bot */
#chat-messages [data-cid^="29698377"] .icon.icon-chat-manager{
  background-position: -15px -90px !Important;
}       /* Woots */
#chat-messages [data-cid^="3475278"] .icon.icon-chat-bouncer{
  background-position: 0px -105px !Important;
}     /* Voting */
        /* Overlay */
#vote #woot .icon,
#vote #meh .icon{
  background-position: -90px -60px !Important;
}
#vote #grab .icon{
  background-position: -120px -60px !Important;
}
#vote #woot .icon{
  transform: scaley(-1) !important;
}
        /* Other use of woot/grab/meh icons */
#user-lists .icon.icon-woot{
  background-position: -90px 0px !Important;
}
#user-lists .icon.icon-grab,
          /* Favourite rooms */
#room-bar .icon.icon-grab,
.bar .icon.icon-grab{
  background-position: -120px 0px !Important;
}
#user-lists .icon.icon-meh{
  background-position: -90px -30px !Important;
}       /* Results *//*
#chat-messages [data-cid^="3475278"] .emoji-2139{ Placeholder code
  background-position: -240px -120px !Important;  for new icons
}
#chat-messages [data-cid^="3475278"] .emoji-1f4be{
   background-position: -255px -135px !Important;
} */
#chat-messages [data-cid^="3605383"] .emoji-inner[style="background-position:41.1764705882353% 50%;background-size:3500%"],
.icon.icon-history-positive{
  background-position: -97px -7px !Important;
}
#chat-messages [data-cid^="3605383"] .emoji-inner[style="background-position:8.823529411764707% 76.47058823529412%;background-size:3500%"],
.icon.icon-history-grabs{
  background-position: -127px -7px !important;
}
#chat-messages [data-cid^="3605383"] .emoji-inner[style="background-position:41.1764705882353% 67.64705882352942%;background-size:3500%"],
.icon.icon-history-negative{
  background-position: -97px -37px !Important;
}         /* Emoji replacement specific to bot messages */
#chat-messages [data-cid^="3605383"] .emoji-inner[style="background-position:26.47058823529412% 67.64705882352942%;background-size:3500%"]{
  background-position: -45px -74px !important;
}
#chat-messages [data-cid^="3605383"] .emoji-inner[style="background-position:26.47058823529412% 26.47058823529412%;background-size:3500%"],
#chat-messages [data-cid^="3475278"] .emoji-inner[style="background-position:26.47058823529412% 26.47058823529412%;background-size:3500%"]{
  background-position: -225px -135px !Important;
}
#chat-messages [data-cid^="3605383"] .emoji-inner[style="background-position:67.64705882352942% 23.529411764705884%;background-size:3500%"],
#chat-messages [data-cid^="3475278"] .emoji-inner[style="background-position:67.64705882352942% 23.529411764705884%;background-size:3500%"]{
  background-position: -210px -120px !Important;
}
#chat-messages [data-cid^="3605383"] .emoji-inner[style="background-position:0% 73.52941176470588%;background-size:3500%"],
#chat-messages [data-cid^="3475278"] .emoji-inner[style="background-position:0% 73.52941176470588%;background-size:3500%"]{
  background-position: -180px -120px !Important;
}
#chat-messages [data-cid^="3605383"] .emoji-inner[style="background-position:11.764705882352942% 23.529411764705884%;background-size:3500%"],
#chat-messages [data-cid^="3475278"] .emoji-inner[style="background-position:11.764705882352942% 23.529411764705884%;background-size:3500%"]{
  background-position: -195px -135px !Important;
}     /* Favourite */
:not(.badge-box) > .icon.icon-star-white{
  background-position: -120px -30px !Important;
  opacity: 1 !important;
}
      /* Staff icons */
#chat-messages .cm.moderation:not(.user-action) > .badge-box > .icon.icon-skip{
  background-position: -180px -90px !important;
}

.icon.icon-chat-host,
.icon.icon-chat-cohost{
  background-position: 0px -60px !Important;
}
.icon.icon-chat-manager{
  background-position: -15px -60px !Important;
}
.icon.icon-chat-bouncer{
  background-position: 0px -75px !Important;
}
.icon.icon-chat-dj{
  background-position: -15px -75px !Important;
}
      /* Checkmarks / Media */
.icon.icon-check-purple,
#dialog-container .icon.icon-check-white{
  background-position: -60px -60px !Important;
}
#playlist-activate-button:hover:not(.active) .icon.icon-check-purple{
  background-position: -60px -30px !Important;
}
#playlist-activate-button.active .icon.icon-check-circle{
  background-position: -60px 0px !important;
}
.icon.icon-next-track{
  background-position: -60px -90px !Important;
}       /* Settings */
.icon.icon-check-blue{
  background-position: -45px -60px !Important;
}
  /* Backgrounds and gradients */
    /* Room background */
#room .room-background{
  background-image: url(https://i.imgur.com/MKpr6q7.gif) !important;
}
    /* Room logo */
#room-settings,
#playlist-panel,
#media-panel .row:not(:hover).now-playing,
#media-panel .row:hover:before,
#media-panel .row.selected:before,
#media-panel .actions,
#history-panel .row{
  background-image: url("https://i.imgur.com/uxEI1vC.png") !important;
  background-repeat: no-repeat  !important;
  background-position: center center !important;
  background-size: 500px 500px !important;
  background-attachment: fixed !Important;
}
    /* DJ button body */
#dj-button{
  background-image: linear-gradient(to right,
                                    transparent 70px,
                                    rgb(30, 41, 66) 70px,
                                    rgb(30, 41, 66) 100%) !important;
}
    /* Vote button background */
#vote > .crowd-response{
  background-image: linear-gradient(to bottom,
                                    rgb(29, 69, 110) 39px,
                                    transparent 39px,
                                    transparent 100%) !important;
}
#room-settings-menu,
#playlist-menu,
#chat-suggestion,
#footer .menu{
  background-image: linear-gradient(to bottom,
                                    transparent 0%,
                                    rgb(50, 60, 83) 100%) !important;
}
    /* Chat and users */
.header-panel-button.selected{
  background-image: linear-gradient(to top, rgb(29, 69, 110) 0%,
                                            transparent 100%) !important;
}
    /* Footer buttons */
#footer-user .button{
  background-image: linear-gradient(to bottom, transparent 0%, rgb(30, 41, 66) 100%) !important;
}

  /* XP bar: Boosted */
#the-user-profile .section.boosted .bar .progress{
  background-image: linear-gradient(to left,
                                    #ac76ff 16px,
                                    rgb(92, 135, 179) 30px) !important;
}
#footer-user .boosted .bar .progress{
  background-image: linear-gradient(to left,
                                    #ac76ff 8px,
                                    rgb(92, 135, 179) 15px) !important;
}
#user-menu{
  background-image: linear-gradient(to bottom,
                                    transparent 250px,
                                    transparent 250px,
                                    rgb(50, 60, 83) 100%) !important;
}
  /* Your stuff / Shop */
    /* Avatars */
.user-content .avatars .grid .cell .top:before{
  background: linear-gradient(to bottom,
                              #074973 0px,
                              #1C1F25 56%,
                              #111317 73%,
                              rgba(5, 26, 41, 0.98) 100%) repeat scroll 0% 0% transparent !important;
}
#user-menu .avatar,
.user-content .avatars .grid .cell:hover .top:after,
.user-content .avatars .grid .cell:not(.selected) .top:after,
.user-content .avatars .grid .cell.selected .top:after,
#dialog-purchase.dialog.avatar .left {
  background: linear-gradient(to bottom,
                              #074973 0px,
                              #074973 56%,
                              rgba(5, 26, 41, 0.98) 73%,
                              #6D6E71 100%) repeat scroll 0% 0% transparent !important;
}
    /* Badges and secondary icon set */
.user-content .badges .grid .cell .top:before,
.user-content .badges .grid .cell:hover .top:after,
.user-content .badges .grid .cell:not(:hover) .top:after,
#dialog-purchase.dialog.badge .left,
      /* Adjust position values for these in the plug.dj icons subsection under Images. */
#the-user-profile .icon.icon-badge-pp,
.icon.icon-ep-small,
.icon.icon-pp-small,
.icon.icon-boost-2x,
.icon.icon-boost-3x{
  background-image: url(https://themescript.github.io/images/cmix_shopmisc.png) !Important;
  background-size: 375px 402px !important;
}
.user-content .badges .grid .cell .top:before{
  background-position: 0px 0px !Important;
}
.user-content .badges .grid .cell:hover .top:after,
.user-content .badges .grid .cell:not(:hover) .top:after{
  background-position: -185px 0px !Important;
}
#dialog-purchase.dialog.badge .left{
  background-position: 0px -166px !Important;
}
    /* Misc */
.user-content .misc .grid .cell .top{
background-image: linear-gradient(#111317 0px,
                                  #051a29 46%,
                                  #111317 100%) !Important;;
}
.user-content .misc .grid .cell:hover .top:after,
.user-content .misc .grid .cell:not(:hover) .top:after,
#dialog-purchase.dialog.username .left{
background-image: linear-gradient(#1C1F25 0px,
                                  #074973 46%,
                                  #1C1F25 100%) !Important;;
}
/* Borders */
  /* Search menu */
#search-menu li:first-child,
#search-menu .last{
  border-top-color: #444a59 !Important;
} /* XP bar */
#footer-user .bar{
  box-shadow: inset 0px 0px 0px 8px rgb(29, 69, 110),
              0px 0px 0px 4px rgb(54, 95, 128) !Important;
}
  /* user rollover arrows */
#user-rollover:not(.chat) .arrow-down{
  border-top-color: rgb(29, 69, 110) !important;
}
#user-rollover:not(.chat).expand .arrow-down{
  border-top-color: rgb(30, 41, 66) !Important;
}   /* Chat */
#user-rollover.chat .arrow-down{
  border-left-color: rgb(30, 41, 66) !important;
}
#user-rollover.upwards.chat .arrow-down{
  border-left-color: rgb(30, 41, 66) !important;
}
#user-rollover.self.upwards.chat .arrow-down{
  border-left-color: rgb(29, 69, 110) !Important;
}
  /* Avatar thumbnails */
.thumb,
#user-rollover I{
  border-color: rgb(92, 135, 179) !Important;
}
#footer .thumb{
  border-width: 2px !Important;
}
#user-inventory .row.avatar .item{
  border-bottom: 1px solid #074973 !Important;
}
#search-menu li:first-child,
  /* User lists */
#user-lists .button.staff.selected{
  border-bottom-color: rgb(92, 135, 179) !important;
}
#user-lists .button:not(.room):not(.staff).selected{
  border-bottom-color: rgb(255, 45, 49) !Important;
}
/* Miscellaneous settings */
  /* Shadows */
    /* Menu differentiation */
#user-view,
#room-settings{
  box-shadow: inset -30px 30px 30px -30px rgb(0, 0, 0) !Important;
}
  /* Right-side stuff */
    /* Header buttons */
.header-panel-button:not(.selected){
  box-shadow: inset 0px -15px 15px -15px rgb(0, 0, 0) !Important;
}
.dialog-body{
  box-shadow: inset 0px 15px 15px -15px rgb(0, 0, 0),
               inset 0px -15px 15px -15px rgb(0, 0, 0) !Important;
}
    /* Generated by pseudochildren */
      /* Shop / Inventory */
.user-content .grid .cell .top:before,
.user-content .grid .cell .top:after{
  content: '' !Important;
  width: 100% !important;
  height: 100% !important;
  position: absolute !Important;
  top: 0px !Important;
  left: 0px !Important;
}
.user-content .grid .cell .top img,
.user-content .grid .cell .top i,
.user-content .grid .cell .top .level{
  z-index: 1 !Important;
}
      /* Right side */
        /* Shadow General settings */
#chat:before,
.app-right .list:before{
  pointer-events: none !Important;
  z-index: 1 !Important;
  content: '' !important;
  position: absolute !Important;
}       /* Chat output */
#chat:before{
  box-shadow: inset 0px 15px 15px -15px rgb(0, 0, 0),
              inset 0px -15px 15px -15px rgb(0, 0, 0) !Important;
  width: 100% !important;
}
          /* Non-guest settings */
#chat:not(.level-1):before{
  top: 46px !important;
  height: calc(100% - 97px) !Important;
}       /* Lists */
.app-right .list:before{
  left: -15px !Important;
  width: calc(100% + 30px) !Important;
  height: 100% !Important;
  box-shadow: inset 0px 0px 15px 0px rgb(0, 0, 0) !Important;
}

#p3-settings .container,
#p3-settings-custom-colors .container,
.pop-menu:not(.up) .menu{
  box-shadow: inset 0px 15px 15px -15px rgb(0, 0, 0) !important;
}
.pop-menu.up .menu{
  box-shadow: inset 0px -15px 15px -15px rgb(0, 0, 0) !important;
}   /* Voting */
#vote .crowd-response:hover:not(.selected):not(.disabled) .bottom {
  box-shadow: 0px -10px 10px rgb(22, 31, 49) inset,
              0px 0px 5px rgba(0,0,0,0.8) inset !important;
}
    /* Video playback, dialogs, user info, app stuff, buttons */
#dialog-container .dialog,
#dj-button,
#vote:before,
#playback-container,
#user-rollover,
#p3-settings,
#p3-settings-custom-colors,
#app-menu.open{
  box-shadow: 0px 0px 30px 10px rgb(0, 0, 0) !important;
}
#toast-notifications .notification,
.drag-media-box,
div.pop-menu{
  box-shadow: 0px 0px 10px 2px rgb(0, 0, 0) !important;
}
#app{
  box-shadow: inset -345px 30px 50px rgb(0, 0, 0) !Important;
}
    /* Focused boxes / buttons */
.general-settings .input-background,
#the-user-profile .blurb input,
#history-button.selected{
  box-shadow: inset 0px 0px 15px 0px rgb(0, 0, 0) !important;
}     /* Animated box shadows; Default state */
#chat-input:not(.focused),
.search:not(.focused),
#search-bar:not(.focused),
#filter-bar:not(.focused),
.list-header .input-background:not(.focused),
#user-inventory .badges .cell{
  box-shadow: none;
  transition: box-shadow 0.2s !Important;
}     /* Animated box shadows; Active state */
#chat-input.focused,
.search.focused,
#search-bar.focused,
#filter-bar.focused,
.list-header .input-background.focused,
#user-inventory .badges .cell:hover,
#user-inventory .badges .cell.selected{
  box-shadow: inset 0px 0px 15px 0px rgb(0, 0, 0) !important;
  transition: 0.2s !Important;
}   /* Used for colour / overlap */
.friends .header{
  box-shadow: inset 0px 0px 0px 24px rgba(0, 0, 0, 0.50) !Important;
}   /* Used as border */
#chat-suggestion{
  box-shadow: 0px 1px 0px 0px rgb(50, 60, 83) !Important;
}
#video-only-dj{
  box-shadow: inset 1px 0px 0px rgb(92, 135, 179) !important;
}   /* Gap filler */
#history-panel{
  box-shadow: inset -14px 0px 0px 0px rgba(30, 41, 66, 0.92) !Important;
}
  /* Extra history panel text */
#history-panel .name:before{
  content: "By " !important;
}
  /* Change width of now playing */
#now-playing-bar > #now-playing-media{
  width: calc(100% - 274px) !Important;
}
  /* Always show volume slider and playback controls */
#volume .slider,
#playback-controls{
  display: block !Important;
}
  /* Room bar badge settings */
#room-bar .icon-room:before,
#room-bar .icon-room:after{
  content: '' !Important; /* Do not remove */
  display: block !Important;
  width: 30px !Important;
  height: 30px !Important;
  position: absolute !important;
  top: 0px !important;
  left: 0px !Important;
}
  /* Request alert icon settings */
.friends.has-requests > .header > I{
  border-radius: 0px !Important;
  width: 30px !Important;
  height: 30px !Important;
}
  /* Rounding of XP bar */
#footer .bar,
#footer .bar .progress{
  border-radius: 2px !Important;
}
#footer .bar .progress{
  min-width: 2px !Important;
}
#the-user-profile .bar,
#the-user-profile .bar .progress{
  border-radius: 4px !Important;
}
#the-user-profile .bar .progress{
  min-width: 4px !Important;
}
  /* Vote background shadow */
#vote:before{
  content: '' !Important;
  border-radius: 2px !Important;
  width: 254px !Important;
  height: 61px !Important;
  position: absolute !Important;
  top: 0px !Important;
  left: 0px !important;
}
  /* Tooltip extras */
    /* Normal / Blue */
#tooltip:not(.purple):not(.orange) .corner{
  border-top-color: rgb(92, 135, 179) !important;
  border-left-color: rgb(92, 135, 179) !important;
}
#tooltip.right:not(.purple):not(.orange) .corner{
  border-top-color: rgb(92, 135, 179) !important;
  border-right-color: rgb(92, 135, 179) !important;
}   /* Purple */
#tooltip.purple .corner{
  border-top-color: rgb(29, 69, 110) !important;
  border-left-color: rgb(29, 69, 110) !important;
}
#tooltip.right.purple .corner{
  border-top-color: rgb(29, 69, 110) !important;
  border-right-color: rgb(29, 69, 110) !important;
}
    /* Orange */
#tooltip.orange .corner{
  border-top-color: rgb(255, 45, 49) !important;
  border-left-color: rgb(255, 45, 49) !important;
}
#tooltip.right.orange .corner{
  border-top-color: rgb(255, 45, 49) !important;
  border-right-color: rgb(255, 45, 49) !important;
}
  /* Browser-generated elements for room logo */
    /* > This was done to prevent overlap of the logo on hover
         or selected. Does not affect background colour.
       > These are grouped together, rather than being all over
         the sheet as separate elements.
       > To the average user, it just looks fancy. :) */
    /* General */
#media-panel .row.selected:before,
#media-panel .row:hover:before{
  content: '' !important;
  height: 55px !important;
  position: absolute !important;
  top: 0px !important;
  left: 0px !important;
}   /* Widths for different row types */
      /* Selected */
#media-panel .row.selected:before{
  width: 100% !important;
}     /* Hover */
#media-panel .row:not(.has-playlists):hover:before{
  width: calc(100% - 270px) !Important;
}     /* First and last playlist item */
#media-panel .row.playlist-media-first-item:hover:before,
#media-panel .row.playlist-media-last-item:hover:before{
  width: calc(100% - 216px) !Important;
}     /* One-only actions */
#media-panel .only-one .row:hover:before{
  width: calc(100% - 162px) !important;
}     /* Now playing and search */
#media-panel .row.now-playing:hover:before,
#media-panel .search .row:hover:before
{
  width: calc(100% - 108px) !Important;
}     /* Playlist search */
#media-panel .row.has-playlists:hover:before{
  width: calc(100% - 54px) !important;
}
    /* Action containers */
      /* Height */
#media-panel .actions{
  height: 55px !Important;
}     /* Width */
#media-panel .only-one .actions{
  width: 162px !important;
}
/* Object positioning and sizing */
  /* Guest stuff */
#chat.level-1 > #chat-messages{
  height: 100% !Important;
}
#header-panel-bar.level-1 > #chat-button{
  width: 172px !Important;
}
#header-panel-bar.level-1 > #waitlist-button{
  width: 173px !Important;
  left: 172px !Important;
}

#users-button.has-guests .bar-count{
  top: 1px !important;
}
#users-button.has-guests .guest-count{
  position: relative !Important;
  top: 1px !Important;
  left: -20px !Important;
}

#chat.level-1:before{
  top: -15px !important;
  height: calc(100% + 15px) !Important;
}
  /* Header */
    /* Has friend requests */
.friends.has-requests > .header > I{
  margin-left: -12px !Important;
  margin-top: -12px !Important;
}
    /* Z-position */
#volume span,
#now-playing-time{
  z-index: 11 !Important;
}
#volume .button{
  z-index: 12 !important;
}
#p3-settings-custom-colors{
  z-index: 1499 !important;
}
    /* Text */
#room-bar > #room-name{
  margin-top: 6px !Important;
}

#room-bar > #room-host{
  margin-top: -16px !Important;
}
#now-playing-time{
  margin-top: -2px !important;
  margin-right: 117px !important;
}   /* Volume */
#volume{
  margin-top: -26px !Important;
  margin-right: 54px !important;
}
      /* Button */
#volume .button{
  height: 55px !Important;
  width: 54px !Important;
  right: -64px !Important;
  top: -1px !Important;
}         /* Icon position */
#volume i{
  top: 12px !Important;
  left: 9px !Important;
}
      /* Slider */
#volume .slider{
  top: 26px !Important;
  right: -4px !Important;
}
    /* Footer */
#your-next-media span,
#your-next-media .song{
  top: 8px !Important;
}
#your-active-playlist span{
  top: 30px !Important;
  left: 1px !Important;
}
    /* User info */
#footer-user .info{
  margin-top: 1px !important;
}
    /* Footer text */
#your-next-media{
  left: 0px !Important;
}   /* Waitlist positions */
#waitlist .user:nth-child(-n+9) .meta{
  left: 27px !Important;
}
#waitlist .list.manager .user:nth-child(-n+9) .meta{
  left: 52px !Important;
}
  /* History panel text */
#history-panel .name,
#history-panel .timestamp,
    /* User history */
#user-history .name,
#user-history .timestamp{
  text-align: right !important;
	top: 24px !Important;
}
#history-panel .timestamp {
  right: 2px !important;
}   /* Song name? */
#history-panel .author,
#user-history .author{
  width: calc(100% - 300px) !important;
}
#history-panel .name,
#user-history .name {
  right: 145px !important;
}   /* Community name */
#user-history .name{
  width: 110px !Important;
}
  /* Notifications */
#toast-notifications .right{
  margin-top: -1px !Important;
  padding-top: 1px !Important;
}
  /* Vote and DJ button */
.video-only #woot,
#video-only-dj,
#vote > #grab,
#vote > #meh{
  margin-left: -1px !Important;
}
#video-only-dj,
#vote > #grab{
  padding-right: 2px !important;
}
#video-only-dj.djing .icon{
  margin-left: 3px !Important;
}

/* Highlights */
  /* Selected items */
#user-menu .item.selected,
#room-settings-menu .item.selected,
#chat-suggestion .chat-suggestion-item.online:hover,
#playlist-menu .row:hover,
#playlist-menu .row.selected,
#user-lists .user:hover,
#waitlist .user:hover{
  background-image: linear-gradient(to right,
                                    rgb(54, 95, 128) 52%,
                                    transparent 100%) !important;
}
  /* Offline friends */
.is-offline .thumb{
  border-color: rgb(85, 93, 112) !important;
}
  /* Chat */
    /* Alterating rows */
#chat-messages :nth-child(odd).cm,
#chat-messages :nth-child(odd).message{
  -webkit-box-shadow: inset 0px 0px 0px 200px rgba(0, 0, 0, 0.25) !Important;
  box-shadow: inset 0px 0px 0px 200px rgba(0, 0, 0, 0.25) !Important;
}
    /* Mentions */
      /* All users */
.mention.is-you{
  background-image: linear-gradient(100deg,
                              rgb(29, 69, 110) 0%,
                              rgb(30, 41, 66) 45px,
                              transparent 33%) !important;
}
.mention.is-subscriber{
  background-image: linear-gradient(100deg,
                              #5EB5A5 0%,
                              rgb(30, 41, 66) 45px,
                              transparent 33%) !important;
}     /* Subs */
/* Staff */
.mention.is-dj,
.mention.is-staff{
  background-image: linear-gradient(100deg,
                              rgb(92, 135, 179) 0%,
                              rgb(30, 41, 66) 45px,
                              transparent 33%) !important;
}     /* BA */
.mention.is-ambassador{
  background-image: linear-gradient(100deg,
                              #89be6c 0%,
                              rgb(30, 41, 66) 45px,
                              transparent 33%) !important;  
}     /* Admin */
.mention.is-admin,
.cm.system{
  background-image: linear-gradient(100deg,
                              #42a5dc 0%,
                              rgb(30, 41, 66) 45px,
                              transparent 33%) !important;
} /* Delete button: Hover */
#playlist-delete-button:hover{
  box-shadow: inset 0px 0px 0px 30px rgb(255, 45, 49) !important;
}
/* Disappear / Hide */
#app-menu .item:hover,
.user,
.is-offline .thumb,
.favorite,
#dashboard .join,
#dashboard .favorite,
#p3-settings .header,
#p3-settings-custom-colors .header,
#plugcubed,
#the-user-profile .blurb .box,
#user-menu .item.selected,
#user-communities .join,
#user-inventory .row .item,
#room-settings-menu .item.selected,
#playlist-menu,
.friends.has-requests > .header > I,
.header-panel-button.selected,
.background,
#user-rollover .shop-avatar,
#vote > .crowd-response,
#waitlist .user,
.badge-box,
#chat-messages .cm,
#chat-messages .message,
#chat-suggestion .chat-suggestion-item,
#footer-user .button,
#waitlist .list .sortable-placeholder,
#playlist-menu .row.selected,
#history-panel,
#search-suggestion li,
#search-suggestion ul,
#search-menu .selected,
.pop-menu .bar,
.pop-menu li,
.pop-menu ul{
  background-color: transparent !Important;
}
#tooltip.right:not(.orange) .corner{
  border-left-color: transparent !Important;
}
.header,
.list-header,
#user-inventory .row,
.header-panel-button,
#chat-messages,
#media-panel .header{
  border-bottom-color: transparent !Important;
}
#dialog-container .button.submit,
#room-bar .icon-room,
#playlist-button,
#playlist-menu > div,
#your-active-playlist i,
.pop-menu .create,
.user-content .grid .cell .top,
.user-content .grid .cell.selected .top,
#media-panel .button,
#dj-button .left,
.shop-button{
  background-image: none !Important;
}
#playback img{
  width: 0px !Important;
  height: 0px !Important;
}

#dialog-container .duration,
#dialog-container .toggle,
#dialog-user-role .role-menu li,
#dialog-restricted-media .meta,
#app-menu,
.app-header,
.badge-box.no-badge i,
#p3-settings,
#p3-settings .back,
#p3-settings-custom-colors,
#p3-settings-custom-colors .back,
#plugcubed,
#chat-header,
.group,
#the-user-profile .header span,
#header-panel-bar *,
#footer,
.media-list .row.now-playing,
#media-panel .meta,
#history-panel .meta,
#waitlist .list .user .meta{
  border: none !Important;
}
#dialog-container .duration,
#dialog-container .toggle,
.video-only #dj-button,
.video-only #vote:before,
.pop-menu,
*{
  box-shadow: none !important;
}
#dialog-container > :not(#dialog-purchase) .divider,
.app-header .dark-label,
#header-panel-bar.level-1 > #users-button,
#header-panel-bar.level-1 > #friends-button,
#chat.level-1 > #chat-input,
#chat-header > .divider,
#waitlist .divider,
#now-playing-bar .bar-divider,
#now-playing-bar > #now-playing-time i,
#now-playing-time .icon.icon-time,
#chat-header .divider,
.chevron,
#your-next-media .eta,
#media-panel .row:hover .duration,
#history-panel .row:hover .timestamp,
#history-panel .divider{
  display: none !Important;
}